<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button>

      </ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <ion-item>
      <ion-input label="Usuario" label-placement="floating" fill="outline" placeholder=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Contraseña" label-placement="floating" fill="outline" placeholder=""></ion-input>
    </ion-item>
    
  </div>
</ion-content>

