<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registro</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-item>
      <ion-input label="Usuario" label-placement="floating" fill="outline" placeholder=""></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Contraseña" label-placement="floating" fill="outline" placeholder=""></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Correo electrónico" label-placement="floating" fill="outline" placeholder="" type="mail"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Nombre" label-placement="floating" fill="outline" placeholder=""></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Apellido" label-placement="floating" fill="outline" placeholder=""></ion-input>
    </ion-item>

    <div class="ion-text-center">
      <ion-button color="medium" (click)="presentAlert()">Registrarse</ion-button>
    </div>
  </ion-card>
</ion-content>
